body {
  font-family: 'Libre Baskerville', serif;
  background-color: #EEEEEE;
}

a:link {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;  
}

a:hover {
  text-decoration: underline;
}

.onethird {
  width: 32%;
}

.twothirds {
  width: 66%;
}

.half {
  width: 49%;
}

.row {
  width: 100%;
}

.container {
  float: left;
  background-color: transparent;  
}

.white {
  background-color: white;
}

.amazon-icon {
  height: 30px;
  vertical-align: middle;
}

#header-container {
  height: 66px;
  box-shadow: 0 4px 4px #AAAAAA;
}

#logo-img {
  margin-top: 5px;
  margin-left: 65px;
  max-height: 85%;
}

#recommended-for-container {
  font-size: 20px;
  color: #666666;
  float: right;
  margin-top: 9px;
  margin-right: 25px;
}

#twitter-img {
  vertical-align: middle;
}

#book-cover-container {
  vertical-align: top;
  display: inline-block;
}

#book-cover-img {
  height: 80%;
  max-width: 100%;
  float: right;
}

#book-info-container {
  margin-top: 10px;
  margin-left: 10px;  
}

#viewer-canvas-container {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  min-width: 580px;
}

#viewer-canvas {
  max-height: 80%;
}