<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Captiv Book Recommendation</title>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100italic,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/js/site.js"></script>
  
</head>