
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {{> shared/header.html }}
  <body style="margin:0;">
    <div class="row container white shadow" id="header-container">
      <div class="container">
        <img src="/img/logo.png" id="logo-img"/>
      </div>
      <div class="container" id="recommended-for-container">
        recommended for <a href="http://www.twitter.com/{{ user}}" id="twitter-link"><strong>@{{ user }}</strong></a>
        <img src="https://api.twitter.com/1/users/profile_image?screen_name={{ user}}" id="twitter-img"/>
      </div>
    </div>
    <div class="container row" id="book-info-container">
      <div class="onethird" id="book-cover-container">
        <img src="" id="book-cover-img"/>
      </div>
      <div id="viewer-canvas-container" class="twothirds">
        <div id="viewer-canvas" style="width: 100%; height: 100%; display: none"></div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        getBookByTitleWithQuote("{{ bookTitle }}", "{{ quote }}");
      });
    </script>
  </body>
</html>
