
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {{> shared/header.html }}
  <body>
    <div class="row container">
      <div id="logoDiv" class="half">
        <span>
          Presented by:
        </span>
        <span class="logo">
          Captiv
        </span>
      </div>
      <div id="userInfo" class="half">
        <span class="userRecommendation">Recommended for 
          <a href="http://www.twitter.com/{{ user }}">
            <button type="button" class="btn">
              {{ user }}  <img src="/img/logo-twitter.png" class="twitter-icon"/>
            </button>
          </a>
        </span>
      </div>
    </div>
    <div class="container row" id="bookInfoContainer">
      <div class="onethird" id="bookCoverContainer">
        <img src="" id="bookCoverImg"/>
        <div class="amazon-link">
          Buy this on  <a href="http://www.amazon.com/s?field-keywords={{ bookTitle }}"><img src='img/amazon-logo.jpeg' class="amazon-icon"/></a>
        </div>
      </div>
      <div id="viewerCanvasContainer" class="twothirds">
        <div id="viewerCanvas" style="width: 100%; height: 100%; display: none"></div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        getBookByTitleWithQuote("{{ bookTitle }}", "{{ quote }}");
      });
    </script>
  </body>
</html>
